# Bỏ qua file chứa Token và Mật khẩu (CỰC KỲ QUAN TRỌNG)
.env

# Bỏ qua thư mục chứa Database và dữ liệu khách hàng
data/
*.db
*.sqlite3

# Bỏ qua file rác của Python và file test
__pycache__/
*.py[cod]
mock_zalo.json
